/* Complete the CSS styling according to the provided design */

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    background-color: black;
    text-align: center;
}

h1 {
    color: goldenrod;
}

button {
    color: #016f32;
    width: 150px;
    background-color: goldenrod;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: 700;
    border: none;
    border-radius: 2px;
    margin-bottom: 5px;
}

#message-el {
     font-size: 25px;   
     font-weight: 700;
     font-style: italic;
     color: white;
}
